.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.home-header {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-column1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  height: 953px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: #000000;
}
 
.home-content10 {
  gap: var(--dl-layout-space-oneandhalfunits);
  height: 702px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-image9 {
  width: 1080px;
  height: 638px;
  object-fit: cover;
}
 
.home-text10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 465px;
  height: 94px;
  font-size: 20px;
  text-align: center;
  font-family: "Tahoma";
  margin-bottom: 29px;
}
 
.home-button1 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  display: flex;
  border-color: #ff00ce;
  border-width: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-text11 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
}
 
.home-gallery3 {
  width: 100%;
  height: 1269px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #3c3c3c;
}
 
.home-text12 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary2);
  font-size: 70px;
  font-family: "Merriweather";
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-max-width1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-text13 {
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-container11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
}
 
.home-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image11 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.home-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image21 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.home-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image31 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container15 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image4 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image5 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container17 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image6 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container18 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image7 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image8 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-food-and-drink {
  background-color: #000000;
}
 
.home-text26 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 70px;
  font-family: "Merriweather";
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-container20 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.home-image-container1 {
  height: 100%;
  display: flex;
  position: relative;
}
 
.home-image10 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-tabs-menu1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container21 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-content11 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature1-title1 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature1-description1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container22 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-content12 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature2-title1 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature2-description1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container23 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-content13 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature3-title1 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature3-description1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-bar-gallery {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  background-color: #000000;
}
 
.home-max-width2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container24 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-content14 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-container25 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image12 {
  width: 100%;
  height: 904px;
  max-width: 100%;
  align-self: center;
}
 
.home-container26 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image22 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-image32 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-meet-your-hosts {
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px 0px #ff00e4;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-column2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  z-index: 1;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-content15 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-heading11 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 449px;
  font-size: 70px;
  text-align: center;
  font-family: "Merriweather";
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-content16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  margin-top: var(--dl-layout-space-threeunits);
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-actions1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-button2 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  text-align: center;
  border-color: var(--dl-color-theme-primary1);
  border-width: 0px;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-action21 {
  text-decoration: none;
}
 
.home-image13 {
  flex: 1;
  width: 100%;
}
 
.home-content17 {
  display: none;
}
 
.home-actions2 {
  gap: var(--dl-layout-space-unit);
  display: none;
  align-items: flex-start;
  justify-content: center;
}
 
.home-button3 {
  text-align: center;
  justify-content: center;
}
 
.home-action22 {
  text-decoration: none;
}
 
.home-container27 {
  background-color: #000000;
}
 
.home-text27 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  font-size: 70px;
  font-style: normal;
  font-family: "Merriweather";
  font-weight: 600;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-container28 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.home-image-container2 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-image14 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-tabs-menu2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-tab-horizontal4 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container29 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-secondary2);
}
 
.home-content18 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature1-title2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature1-description2 {
  fill: var(--dl-color-theme-secondary2);
  color: rgb(191, 191, 191);
}
 
.home-tab-horizontal5 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container30 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary2);
}
 
.home-content19 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature2-title2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature2-description2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal6 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container31 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary2);
}
 
.home-content20 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature3-title2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature3-description2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-music {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-column3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  order: 1;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-content21 {
  gap: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.home-heading12 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 285px;
  font-size: 70px;
  text-align: center;
  font-family: "Merriweather";
}
 
.home-content110 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
}
 
.home-content111 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  text-align: center;
}
 
.home-content112 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-actions3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-button4 {
  text-align: center;
  border-width: 0px;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.home-action23 {
  color: #000000;
  text-decoration: none;
}
 
.home-image15 {
  flex: 1;
  width: 703px;
  height: 834px;
}
 
.home-the-venue {
  background-color: #000000;
}
 
.home-text28 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 70px;
  font-family: "Merriweather";
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-container32 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.home-tabs-menu3 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-tab-horizontal7 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container7 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container33 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-content22 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature1-title3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature1-description3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal8 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container8 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container34 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-content23 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature2-title3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature2-description3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal9 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container9 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container35 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-content24 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature3-title3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature3-description3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-image-container3 {
  height: 100%;
  display: flex;
  position: relative;
}
 
.home-image16 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-image17 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-image18 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-map {
  width: 1043px;
  height: 659px;
  object-fit: cover;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-directions {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  font-size: 70px;
  margin-top: var(--dl-layout-space-threeunits);
  font-family: "Merriweather";
  margin-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-google-map {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-google-maps {
  width: 1000px;
  height: 453px;
  display: flex;
  justify-content: center;
}
 
.home-faq9 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-max-width3 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-section-title {
  align-items: flex-start;
}
 
.home-text29 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  font-size: 50px;
  text-align: center;
}
 
.home-row1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container36 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question1 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
 
.home-container37 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-faq3-answer1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  flex-grow: 1;
}
 
.home-divider1 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-row2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container38 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
 
.home-container39 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-answer2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  flex-grow: 1;
}
 
.home-divider2 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-row3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container40 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
 
.home-container41 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-answer3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  flex-grow: 1;
}
 
.home-divider3 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-row4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container42 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question4 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
 
.home-container43 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-answer4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  flex-grow: 1;
}
 
.home-divider4 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-content27 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.home-text30 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
}
 
.home-text31 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-dont-wait {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-accent2-bg {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-secondary1);
}
 
.home-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.home-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-layout-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
 
.home-container44 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-cardradius);
  padding-right: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-sixunits);
}
 
.home-container44:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.home-content28 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text32 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-text33 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-actions4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.home-link {
  color: #ffffff;
  text-decoration: none;
}
 
.home-text34 {
  color: #000000;
}
 
.home-footer {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width5 {
  gap: var(--dl-layout-space-threeunits);
  height: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-content29 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-logo {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container45 {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image19 {
  width: 200px;
  object-fit: cover;
  padding-right: 0px;
}
 
.home-image20 {
  width: 238px;
  height: 228px;
  object-fit: cover;
}
 
.home-text35 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  text-align: center;
}
 
.home-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-row5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.home-container46 {
  display: flex;
  align-items: flex-start;
}
 
.home-footer-links {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
@media(max-width: 991px) {
  .home-column1 {
    height: 911px;
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
  .home-content10 {
    height: 708px;
  }
  .home-image11 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image21 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image31 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image4 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image5 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image6 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image7 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image8 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-container20 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-content14 {
    align-items: center;
    flex-direction: column;
  }
  .home-image12 {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
  .home-container26 {
    width: 100%;
  }
  .home-image22 {
    height: 100%;
  }
  .home-image32 {
    height: 100%;
  }
  .home-meet-your-hosts {
    flex-direction: column;
  }
  .home-content15 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-content16 {
    display: none;
  }
  .home-button2 {
    display: none;
  }
  .home-content17 {
    width: 547px;
    height: 97px;
    display: flex;
    margin-top: 43px;
  }
  .home-actions2 {
    display: flex;
  }
  .home-container28 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-music {
    flex-direction: column;
  }
  .home-content21 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-container32 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-tabs-menu3 {
    order: 2;
  }
  .home-map {
    width: 100%;
    height: 549px;
  }
  .home-row1 {
    width: 878px;
  }
  .home-faq3-question1 {
    width: 500px;
    height: 54px;
  }
  .home-container37 {
    width: 306px;
    padding-right: 0px;
  }
  .home-faq3-answer1 {
    align-self: flex-end;
    text-align: left;
  }
  .home-faq3-answer2 {
    width: 346px;
  }
}
 
@media(max-width: 767px) {
  .home-column1 {
    height: 951px;
  }
  .home-content10 {
    height: 794px;
  }
  .home-text10 {
    height: 108px;
  }
  .home-heading11 {
    text-align: center;
  }
  .home-content16 {
    display: none;
    text-align: center;
  }
  .home-actions1 {
    width: 100%;
    display: none;
    justify-content: center;
  }
  .home-content17 {
    width: 611px;
    height: 60px;
    margin-top: 29px;
    text-align: center;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-actions2 {
    width: 100%;
    justify-content: center;
  }
  .home-heading12 {
    text-align: center;
  }
  .home-content110 {
    text-align: center;
  }
  .home-content111 {
    text-align: center;
  }
  .home-content112 {
    text-align: center;
  }
  .home-actions3 {
    width: 100%;
    justify-content: center;
  }
  .home-map {
    width: 100%;
    height: 565px;
  }
  .home-google-maps {
    width: 711px;
  }
  .home-content25 {
    width: 694px;
  }
  .home-faq3-question1 {
    width: 361px;
  }
  .home-faq3-answer1 {
    width: 306px;
  }
  .home-row2 {
    width: 703px;
  }
  .home-faq3-question2 {
    width: 357px;
    height: 56px;
  }
  .home-row3 {
    width: 662px;
  }
  .home-faq3-question3 {
    width: 364px;
    height: 59px;
  }
  .home-faq3-answer3 {
    width: 289px;
  }
  .home-faq3-question4 {
    width: 362px;
    height: 23px;
  }
  .home-container44 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-row5 {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .home-column1 {
    height: 949px;
    margin-bottom: 156px;
  }
  .home-content10 {
    height: 837px;
    margin-bottom: 0px;
  }
  .home-button1 {
    width: 100%;
  }
  .home-bar-gallery {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .home-heading11 {
    text-align: center;
  }
  .home-content16 {
    text-align: center;
  }
  .home-actions1 {
    width: 35%;
    height: var(--dl-layout-size-medium);
    flex-direction: column;
  }
  .home-button2 {
    width: 100%;
    height: 50px;
  }
  .home-content17 {
    width: 421px;
    height: 87px;
    text-align: center;
  }
  .home-actions2 {
    width: 35%;
    height: var(--dl-layout-size-medium);
    flex-direction: column;
  }
  .home-button3 {
    width: 100%;
    height: 50px;
  }
  .home-heading12 {
    text-align: center;
  }
  .home-content110 {
    text-align: center;
  }
  .home-content111 {
    text-align: center;
  }
  .home-content112 {
    text-align: center;
  }
  .home-actions3 {
    flex-direction: column;
  }
  .home-button4 {
    width: 267px;
    height: 66px;
  }
  .home-image15 {
    width: 478px;
    height: 878px;
  }
  .home-map {
    width: 100%;
    height: 370px;
  }
  .home-google-maps {
    width: 442px;
    height: 278px;
  }
  .home-max-width3 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-content25 {
    width: 426px;
  }
  .home-row1 {
    width: 147px;
  }
  .home-faq3-question1 {
    width: 228px;
  }
  .home-container37 {
    width: 161px;
  }
  .home-faq3-answer1 {
    width: 212px;
  }
  .home-faq3-question2 {
    width: 172px;
  }
  .home-faq3-answer2 {
    width: 200px;
  }
  .home-faq3-question3 {
    width: 182px;
  }
  .home-faq3-answer3 {
    width: 202px;
  }
  .home-faq3-question4 {
    width: var(--dl-layout-size-xlarge);
    font-style: normal;
    font-weight: 600;
  }
  .home-text30 {
    text-align: center;
  }
  .home-text31 {
    text-align: center;
  }
  .home-actions4 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .home-link {
    flex: 1;
  }
  .home-max-width5 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
