.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.home-header {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-column1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 953px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
  background-color: #000000;
}
 
.home-content10 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 831px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-image10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-button1 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  display: flex;
  margin-top: var(--dl-layout-space-fourunits);
  border-color: #ff00ce;
  border-width: 0px;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-text10 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
}
 
.home-what-to-expect {
  width: 100%;
  height: 1269px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #3c3c3c;
}
 
.home-text11 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary2);
  font-size: 70px;
  font-family: "Merriweather";
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 1085px;
  height: 133px;
  font-size: 20px;
  text-align: center;
  font-family: "Tahoma";
  margin-bottom: 29px;
}
 
.home-max-width1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
}
 
.home-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image11 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.home-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image21 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.home-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image31 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container15 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image41 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image51 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container17 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image61 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-container18 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image71 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: flex-start;
}
 
.home-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image8 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-music-stages {
  background-color: #000000;
}
 
.home-text13 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  font-size: 70px;
  font-style: normal;
  text-align: center;
  font-family: "Merriweather";
  font-weight: 600;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-container20 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.home-image-container1 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-image12 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-tabs-menu1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container10 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container21 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-secondary2);
}
 
.home-content11 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature1-title1 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature1-description1 {
  fill: var(--dl-color-theme-secondary2);
  color: rgb(191, 191, 191);
}
 
.home-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container11 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-content12 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature2-title1 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature2-description1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container12 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-content13 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature3-title1 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature3-description1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-gallery3 {
  width: 100%;
  height: 1054px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: var(--dl-layout-space-fourunits);
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
}
 
.home-max-width2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container22 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-content14 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-container23 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image13 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-image22 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-container24 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image32 {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
 
.home-image42 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-image52 {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
 
.home-container25 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image62 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-image72 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-food-and-drink {
  background-color: #000000;
}
 
.home-text14 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 70px;
  text-align: center;
  font-family: "Merriweather";
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-container26 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.home-image-container2 {
  height: 100%;
  display: flex;
  position: relative;
}
 
.home-image14 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-tabs-menu2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-tab-horizontal4 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container13 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container27 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-content15 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature1-title2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature1-description2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal5 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container14 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-divider-container15 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-content16 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature2-title2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature2-description2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal6 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container16 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-content17 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature3-title2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature3-description2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-bar-gallery {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  background-color: #000000;
}
 
.home-max-width3 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container28 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-content18 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-container29 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image15 {
  width: 100%;
  height: 904px;
  max-width: 100%;
  align-self: center;
}
 
.home-container30 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image23 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-image33 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.home-meet-your-hosts {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-column2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
 
.home-heading11 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  font-size: 70px;
  align-self: center;
  text-align: center;
  font-family: "Merriweather";
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-container31 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
 
.home-content19 {
  gap: 24px;
  width: 875px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-text15 {
  align-self: flex-start;
  text-align: left;
  font-family: "Inter";
  line-height: 1.5;
}
 
.home-text16 {
  align-self: flex-start;
  text-align: left;
  line-height: 1.5;
}
 
.home-text17 {
  align-self: flex-start;
  text-align: left;
  line-height: 1.5;
}
 
.home-text18 {
  align-self: flex-start;
  text-align: left;
  line-height: 1.5;
}
 
.home-text19 {
  align-self: flex-start;
  text-align: left;
  line-height: 1.5;
}
 
.home-text20 {
  align-self: flex-start;
  text-align: left;
  line-height: 1.5;
}
 
.home-text21 {
  align-self: flex-start;
  text-align: left;
  line-height: 1.5;
}
 
.home-actions1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-button2 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  text-align: center;
  border-color: var(--dl-color-theme-primary1);
  border-width: 0px;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-action21 {
  text-decoration: none;
}
 
.home-image16 {
  flex: 1;
  width: 749px;
  height: auto;
  display: block;
  overflow: visible;
  padding-left: var(--dl-layout-space-unit);
}
 
.home-music {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-theme-accent1);
}
 
.home-column3 {
  flex: 1;
  order: 1;
  height: 845px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.home-heading12 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 285px;
  font-size: 70px;
  align-self: center;
  text-align: center;
  font-family: "Merriweather";
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-container32 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-image17 {
  flex: 1;
  order: 1;
  width: 725px;
  height: 548px;
  align-self: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
 
.home-content20 {
  gap: 24px;
  order: 2;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-content110 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
}
 
.home-content111 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  text-align: center;
}
 
.home-content112 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-actions2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-button3 {
  text-align: center;
  border-width: 0px;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.home-action22 {
  color: #000000;
  text-decoration: none;
}
 
.home-sr-radio {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-sixunits);
  margin-right: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-sixunits);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-sixunits);
}
 
.home-container33 {
  width: 1200px;
  height: 477px;
  margin-left: var(--dl-layout-space-fiveunits);
  margin-right: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
}
 
.home-container34 {
  display: contents;
}
 
.home-the-venue {
  height: 868px;
  background-color: #000000;
}
 
.home-text22 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 70px;
  font-family: "Merriweather";
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-container35 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.home-tabs-menu3 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-tab-horizontal7 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container17 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-container36 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-content21 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature1-title3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature1-description3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal8 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container18 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-content22 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature2-title3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-text24 {
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature2-description3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-tab-horizontal9 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider-container19 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.home-content23 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-feature3-title3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-feature3-description3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-image-container3 {
  height: 100%;
  display: flex;
  position: relative;
}
 
.home-image18 {
  display: block;
  align-self: center;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-map1 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-maxwidth);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.home-map2 {
  width: 1043px;
  height: 659px;
  align-self: center;
  object-fit: cover;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-directions1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.home-directions2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  font-size: 70px;
  align-self: center;
  margin-top: var(--dl-layout-space-fiveunits);
  text-align: center;
  font-family: "Merriweather";
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-text-directiosn1 {
  font-size: 20px;
  align-self: center;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text-directiosn2 {
  font-size: 20px;
  align-self: center;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text-directiosn3 {
  font-size: 20px;
  align-self: center;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-google-map {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
 
.home-google-maps {
  width: 1000px;
  height: 453px;
  display: flex;
  justify-content: center;
}
 
.home-faq9 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-max-width4 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-section-title {
  align-self: center;
  align-items: flex-start;
}
 
.home-text25 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  font-size: 50px;
  align-self: center;
  text-align: center;
}
 
.home-content24 {
  align-self: center;
}
 
.home-row1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container37 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question1 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.home-container38 {
  width: 429px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-faq3-answer1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 421px;
}
 
.home-divider1 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-row2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container39 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
 
.home-container40 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-answer2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  flex-grow: 1;
}
 
.home-divider2 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-row3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container41 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
 
.home-container42 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-answer3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  flex-grow: 1;
}
 
.home-divider3 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-row4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container43 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question4 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
 
.home-container44 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-answer4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 419px;
}
 
.home-divider4 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-row5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container45 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-question5 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
 
.home-container46 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-faq3-answer5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  flex-grow: 1;
}
 
.home-divider5 {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-content25 {
  align-self: center;
}
 
.home-content26 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.home-text26 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
}
 
.home-text27 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  align-self: center;
}
 
.home-giving-back {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.home-text28 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  font-size: 50px;
  text-align: center;
}
 
.home-max-width5 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-text29 {
  font-size: 25px;
  text-align: center;
}
 
.home-partnerships1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.home-text30 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 50px;
  text-align: center;
}
 
.home-max-width6 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-logo1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container47 {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-container48 {
  display: grid;
}
 
.home-image19 {
  width: 200px;
  object-fit: cover;
  padding-right: 0px;
}
 
.home-text31 {
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-container49 {
  display: grid;
}
 
.home-image20 {
  width: 200px;
  object-fit: cover;
  padding-right: 0px;
}
 
.home-text32 {
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-container50 {
  display: grid;
}
 
.home-image24 {
  width: 200px;
  object-fit: cover;
  padding-right: 0px;
}
 
.home-text33 {
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-container51 {
  display: grid;
}
 
.home-image25 {
  width: 200px;
  object-fit: cover;
  padding-right: 0px;
}
 
.home-text34 {
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-container52 {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-container53 {
  display: grid;
}
 
.home-thompson-ranch-events {
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-partnerships2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
 
.home-text35 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 50px;
  text-align: center;
}
 
.home-max-width7 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-logo2 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container54 {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
 
.home-container55 {
  display: grid;
}
 
.home-image26 {
  width: 388px;
  height: 182px;
  object-fit: cover;
  padding-right: 0px;
}
 
.home-text36 {
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-container56 {
  display: grid;
}
 
.home-image27 {
  width: 347px;
  height: 178px;
  object-fit: cover;
  padding-right: 0px;
}
 
.home-text37 {
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-dont-wait {
  background-color: var(--dl-color-theme-accent2);
}
 
.home-accent2-bg {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-secondary1);
}
 
.home-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.home-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-layout-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
 
.home-container57 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-cardradius);
  padding-right: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-sixunits);
}
 
.home-container57:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.home-content27 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text38 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.home-text39 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-actions3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.home-link1 {
  color: #ffffff;
  text-decoration: none;
}
 
.home-text40 {
  color: #000000;
}
 
.home-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width9 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-content28 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-logo3 {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-image110 {
  width: 108px;
  height: 128px;
}
 
.home-social-links {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
}
 
.home-link2 {
  display: contents;
}
 
.home-icon10 {
  text-decoration: none;
}
 
.home-link3 {
  text-decoration: underline;
}
 
.home-link4 {
  display: contents;
}
 
.home-icon12 {
  text-decoration: none;
}
 
.home-link6 {
  display: contents;
}
 
.home-icon19 {
  text-decoration: none;
}
 
.home-links {
  gap: var(--dl-layout-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.home-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-row6 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.home-footer-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
@media(max-width: 991px) {
  .home-column1 {
    height: 911px;
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
  .home-content10 {
    height: 708px;
  }
  .home-what-to-expect {
    height: 1221px;
    margin-bottom: 3px;
  }
  .home-text12 {
    width: 650px;
  }
  .home-image11 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image21 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image31 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image41 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image51 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image61 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image71 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-image8 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .home-container20 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-gallery3 {
    height: 1711px;
  }
  .home-content14 {
    align-items: center;
    flex-direction: column;
  }
  .home-container23 {
    width: 100%;
  }
  .home-image13 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home-image22 {
    display: none;
    z-index: 1;
  }
  .home-container24 {
    width: 100%;
  }
  .home-image32 {
    display: none;
  }
  .home-image42 {
    display: none;
  }
  .home-container25 {
    width: 100%;
  }
  .home-container26 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-content18 {
    align-items: center;
    flex-direction: column;
  }
  .home-image15 {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
  .home-container30 {
    width: 100%;
  }
  .home-image23 {
    height: 100%;
  }
  .home-image33 {
    height: 100%;
  }
  .home-meet-your-hosts {
    height: 2179px;
    padding-top: 112px;
    flex-direction: column;
  }
  .home-column2 {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-heading11 {
    align-self: center;
  }
  .home-container31 {
    width: 100%;
    height: 2053px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    justify-content: center;
  }
  .home-content19 {
    order: 2;
    width: auto;
    height: 700px;
    display: grid;
    z-index: 0;
    margin-left: 0px;
    padding-top: 0px;
    place-items: center;
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
  }
  .home-button2 {
    display: none;
  }
  .home-image16 {
    order: 1;
    width: 50%;
    height: auto;
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
  }
  .home-music {
    height: 1608px;
    padding-top: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .home-column3 {
    height: 1711px;
    flex-wrap: wrap;
    padding-top: var(--dl-layout-space-fiveunits);
    justify-content: flex-start;
  }
  .home-container32 {
    order: 2;
    height: 1054px;
    flex-wrap: wrap;
  }
  .home-image17 {
    order: 1;
    width: auto;
    height: auto;
    align-self: center;
  }
  .home-content20 {
    order: 2;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .home-sr-radio {
    height: 462px;
  }
  .home-container33 {
    width: 990px;
    height: 501px;
  }
  .home-container35 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-tabs-menu3 {
    order: 2;
  }
  .home-map1 {
    width: 100%;
  }
  .home-map2 {
    width: 990px;
    height: 794px;
  }
  .home-row1 {
    width: 878px;
  }
  .home-faq3-question1 {
    width: 500px;
    height: 54px;
  }
  .home-container38 {
    width: 50%;
    padding-right: 0px;
  }
  .home-faq3-answer1 {
    align-self: flex-start;
    text-align: left;
  }
  .home-faq3-answer2 {
    width: 346px;
  }
  .home-container47 {
    flex-wrap: wrap;
  }
  .home-logo3 {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .home-column1 {
    height: 951px;
  }
  .home-content10 {
    height: 794px;
  }
  .home-what-to-expect {
    height: 2055px;
  }
  .home-text12 {
    height: 108px;
  }
  .home-meet-your-hosts {
    height: 1984px;
  }
  .home-column2 {
    height: 2085px;
  }
  .home-heading11 {
    text-align: center;
  }
  .home-container31 {
    height: 1636px;
  }
  .home-actions1 {
    width: 100%;
    display: none;
    justify-content: center;
  }
  .home-button2 {
    display: flex;
  }
  .home-music {
    height: 1294px;
  }
  .home-column3 {
    height: 1511px;
    display: flex;
    flex-wrap: wrap;
  }
  .home-heading12 {
    text-align: center;
  }
  .home-container32 {
    height: 964px;
    flex-wrap: wrap;
  }
  .home-image17 {
    height: 765px;
  }
  .home-content110 {
    text-align: center;
  }
  .home-content111 {
    text-align: center;
  }
  .home-content112 {
    text-align: center;
  }
  .home-actions2 {
    width: 100%;
    justify-content: center;
  }
  .home-container33 {
    width: 766px;
    height: 462px;
  }
  .home-map1 {
    width: 100%;
  }
  .home-map2 {
    width: 766px;
    height: 651px;
  }
  .home-google-maps {
    width: 711px;
  }
  .home-content24 {
    width: 694px;
  }
  .home-faq3-question1 {
    width: 361px;
  }
  .home-faq3-answer1 {
    width: 306px;
    align-self: flex-start;
  }
  .home-row2 {
    width: 703px;
  }
  .home-faq3-question2 {
    width: 357px;
    height: 56px;
  }
  .home-row3 {
    width: 662px;
  }
  .home-faq3-question3 {
    width: 364px;
    height: 59px;
  }
  .home-faq3-answer3 {
    width: 289px;
  }
  .home-row4 {
    width: 662px;
  }
  .home-faq3-question4 {
    width: 364px;
    height: 59px;
  }
  .home-faq3-answer4 {
    width: 289px;
  }
  .home-faq3-question5 {
    width: 362px;
    height: 23px;
  }
  .home-giving-back {
    gap: var(--dl-layout-space-twounits);
  }
  .home-max-width5 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-partnerships1 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-max-width6 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-partnerships2 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-max-width7 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-container57 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-content28 {
    flex-direction: column;
  }
  .home-row6 {
    flex-direction: column;
  }
  .home-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .home-column1 {
    height: 825px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-content10 {
    height: 654px;
    margin-bottom: 0px;
  }
  .home-image10 {
    width: 100%;
    height: 530px;
  }
  .home-button1 {
    width: 231px;
    height: 44px;
    margin-top: 122px;
    margin-left: var(--dl-layout-space-fiveunits);
    margin-right: var(--dl-layout-space-fiveunits);
    margin-bottom: 55px;
  }
  .home-what-to-expect {
    height: 2144px;
  }
  .home-text11 {
    text-align: center;
  }
  .home-text12 {
    width: 414px;
    height: 257px;
  }
  .home-bar-gallery {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .home-meet-your-hosts {
    height: 1986px;
  }
  .home-heading11 {
    text-align: center;
  }
  .home-content19 {
    height: auto;
  }
  .home-actions1 {
    width: 35%;
    height: var(--dl-layout-size-medium);
    flex-direction: column;
  }
  .home-button2 {
    width: 100%;
    height: 50px;
  }
  .home-image16 {
    display: block;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-heading12 {
    text-align: center;
  }
  .home-image17 {
    width: 423px;
    height: 522px;
  }
  .home-content110 {
    text-align: center;
  }
  .home-content111 {
    text-align: center;
  }
  .home-content112 {
    text-align: center;
  }
  .home-actions2 {
    flex-direction: column;
  }
  .home-button3 {
    width: 170px;
    height: 43px;
  }
  .home-container33 {
    width: 478px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
  }
  .home-map2 {
    width: 100%;
    height: 370px;
  }
  .home-google-maps {
    width: 442px;
    height: 278px;
  }
  .home-max-width4 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-text25 {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .home-content24 {
    width: 426px;
  }
  .home-row1 {
    width: 147px;
  }
  .home-faq3-question1 {
    width: 170px;
  }
  .home-container38 {
    width: 161px;
  }
  .home-faq3-answer1 {
    width: 212px;
  }
  .home-faq3-question2 {
    width: 172px;
  }
  .home-faq3-answer2 {
    width: 200px;
  }
  .home-faq3-question3 {
    width: 165px;
  }
  .home-faq3-answer3 {
    width: 202px;
  }
  .home-faq3-question4 {
    width: 160px;
  }
  .home-faq3-answer4 {
    width: 202px;
  }
  .home-faq3-question5 {
    width: var(--dl-layout-size-xlarge);
    font-style: normal;
    font-weight: 600;
  }
  .home-text26 {
    text-align: center;
  }
  .home-text27 {
    text-align: center;
  }
  .home-actions3 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .home-link1 {
    flex: 1;
  }
  .home-max-width9 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-content28 {
    width: 100%;
  }
  .home-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
